html,
body {
	background-color: #fff;
	color: : #555;
	font-family: 'Lato', 'Arial','sans-serif';
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden 
}

.logo {
	width: auto;
	height: 18px;
}

a:link,
a:active,
a:focus,
a:hover,
a {
	text-decoration: none;
	color: #555; 

}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/background.jpg');
    background-size: cover;
    background-position: center;
    height: 110vh;
    background-attachment: fixed;
}

h1,h2 {
	text-transform: uppercase;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 300;
	text-transform: uppercase;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #23387A;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

p {
	margin: 20px 10px 40px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 18px;
    padding-top: 125px;
}

.glyphicon {
	color: #23387A;
    font-size: 250%;
    display: block;
    margin-bottom: 10px;
}

.section-features, .section-faq{
    background-color: #f4f4f4;
}

section {
    padding: 80px 0;
}

.row {
    zoom: 1;
    margin: 0 auto;
}

.navbar-default {
/*    padding: 1px; 
	padding-top: 8px;
*/
    padding-top: 8px;
}

/*.navbar-nav>li>a {
	margin-bottom: -10px;
}
*/
.carousel-control.left, .carousel-control.right {
    background-image: none
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

header input[type=email] {
    width: 50%;
    padding: 6px;
    border-radius: 0;
    border: 1px solid #ccc;
    margin-right: -5px;
    background: rgba(255, 255, 255, .8); 
}

input {
	color: #000;
}


nav li a {
    display: block;
    border-bottom: 2px solid transparent;
}


nav li a:hover,
nav li a:active {
    display: block;
	border-bottom: 2px solid #23387A;
}

.section-form input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.section-form input[type=submit] {
    background-color: #23387A;
    border: 1px solid #23387A;
    margin-right: 15px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;

}

.section-form .row {
	padding: 6px;
}

.btn {
	padding: 14px 35px ;
	margin-bottom: 5px;
	background-color:#23387A;
	font-size: 16px; 
    border-radius: 0;
    overflow: hidden;
    border: 1px solid #23387A;
}

.btn:hover {
	color: #777;
    background-color: #00AAF4;
    border: 1px solid #00AAF4;
}

.section-form input[type=submit]:hover {
    background-color: #00AAF4;
    border: 1px solid #00AAF4;
}

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;

}

.footer-nav li a:link, .footer-nav li a:visited, .social-links li a:link, .social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li, .social-links li {
    display: inline-block;
    margin-right: 20px;
    color: #888;
}

.footer-contact {
	color: #888;
    text-align: center;
    margin-top: 20px;
}

.footer-contact li  {
	display: block;
}

.footer-contact li a {
	text-decoration: none;
	color: #888;
}

footer p   {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

/*footer a {
	text-decoration: none;
}*/

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.fa-facebook:hover {
	color: #3b5998;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-google-plus:hover {
	color: #dd4b39;
}

.social-links li a:link, .social-links li a:visited {
    font-size: 160%;
}

.section-features h3, .section-features i {
    text-align: center;
}

.carousel-inner{
    background-image: url('img/mac2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 700px;
    right: 0;
    left: 0;

}

/*.carousel-inner > img {
    margin: 40px 182px;
    width: 69%;
    height: 490px;
    position: relative;
}
*/
.carousel-inner > .item > img{
       width:780px;
       height:490px;
       margin: 40px 180px;


     }

/*.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-width: 100%;
    height: auto;
}*/
/*
img {max-width:100%}*/
